@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

@media (max-width : 576px) {
    .bg-container {
        background-color: #fef7e7;
        min-height: 100vh;
        background-size: cover;
        padding: 20px;
        padding-top: 80px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .messenger_image {
        width: 70%;
        height: 20%;
    }

    .heading {
        color: #333333;
        font-size: 40px;
        font-family: "roboto";

    }

    .paragraph {
        color: #858a8f;
        font-size: 24px;
        font-family: "roboto";

    }

    .button-container {
        display: flex;
        justify-content: flex-start;
    }

    .button {
        background-color: #f1b80b;
        height: 50px;
        width: 180px;
        color: white;
        text-align: center;
        font-size: 25px;
        font-family: "Roboto";

        border: solid 0px;
        border-radius: 10px;
    }
}

@media (min-width : 577px) {
    .bg-container {
        background-color: #fef7e7;
        min-height: 100vh;
        background-size: cover;
        padding: 20px;
        padding-top: 80px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .description-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        max-height: 40%;
        margin-left: 24px;
    }

    .messenger_image {
        width: 40%;
        height: 20%;

        order: 1;
    }

    .heading {
        color: #333333;
        font-size: 50px;
        font-family: "roboto";

    }

    .paragraph {
        color: #858a8f;
        font-size: 28px;
        font-family: "roboto";

    }

    .button-container {
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
    }

    .button {
        background-color: #f1b80b;
        height: 50px;
        width: 180px;
        color: white;
        text-align: center;
        font-size: 25px;
        font-family: "Roboto";

        border: solid 0px;
        border-radius: 10px;
        /*  align-self: center; */
    }
}
