@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-image: url('https://assets.ccbp.in/frontend/intermediate-rwd/dream-car-bg.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.text-container {
    max-width: 700px;
    max-height: 500px;
}

.speedometer {
    height: 170px;
    width: 80px;
    padding-bottom: 60px;
}

.heading {
    text-align: right;
    font-size: 50px;
    font-family: Roboto;
    color: white;

}

.paragraph {
    text-align: right;
    font-size: 28px;
    font-family: Roboto;
    color: white;
}
