@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #894bca;
    width: 100vw;
    height: 100vh;
}

.main-heading {
    color: white;
    font-family: "Bree Serif";
    text-align: left;
    font-size: 25px;
    margin: 20px
}

.home-page-image {
    height: 130px;
    width: 160px;
    margin-left: 60px;
    margin-top: 20px;
    margin-right: 0px;
}

.card-container {
    background-color: white;
    padding: 18px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.sub-heading {
    color: #f780c3;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.store-card {
    margin-top: 20px;
}

.logo-size {
    height: 50px;
    width: 50px;
}

.store-name {
    text-align: left;
    color: #323f4b;
    font-size: 15px;
    margin-left: 10px;
}

.store-discription {
    text-align: left;
    color: #7b8794;
    font-size: 15px;
    margin-left: 10px;
}
