@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.heading {
    font-family: Roboto;
    font-size: 35px;
    font-weight: 600;
}

.titletext {
    height: 35px;
    width: 270px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.reviewtext {
    height: 120px;
    width: 269px;
}

.paragraph {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    color: #7b8794;
}

.review-style {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
}
