@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");



.form-cintainer {
    background-color: white;
    border-radius: 15px;
}


h3 {
    font-family: Bree Serif;
}

label {
    font-weight: 500;
}

p {
    color: red;
    font-family: bree serif;
    font-size: 25px;
}

.paraMsg {
    color: green;
    font-family: bree serif;
    font-size: 25px;
}
